<div class="field" id="email">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
</div>

<div class="field" id="username">
  <%= f.label :username %><br />
  <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
</div>

<div class="field" id="f_name">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
</div>

<div class="field" id="l_name">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
</div>
